.Header {  background-image:url(../header.png); background-position:center top; height:130px}

.TabelaTopo { width:970px; text-align:left} 

.Telefone { padding:6px; color:#666}

.sthoverbuttonsMain
{
   display:none;
}

.Telefone { float:left; color:#ccc}
.BotaoTopoMinhaConta div { float:right; padding:20px; width:120px;}
.BotaoTopoCarrinho div { float:right; padding:20px; width:130px;}

.TopMenu {  
    background: none repeat scroll 0 0 #058682;
    height: 19px;
    padding: 5px 5px 0; }


.TopMenu ul
{

  width:800px;
  margin:0 auto;
   
}


.TopMenu li { display:inline; text-transform:uppercase 	 }
.TopMenu a { font-size:11px; color:#FFF; padding-right:10px;text-decoration:none}

.Logo { height:211px; vertical-align:middle;}
.Logo * { 
    position: relative;
    top: -20px;
    vertical-align: middle;}

.BarH { height:60px; width:970px; text-align:left}



.LoginTopo { padding:15px 0 0 155px}
.LoginTopo .InputTopo { border:0; padding:5px 3px 5px 3px; background:0; margin:0}
.LoginTopo .User { width:160px; margin-right:25px}
.LoginTopo .Senha { width:90px; margin-right:13px}
.LoginTopo .Botao {width:60px; height:32px; cursor:pointer; padding:10px }



.BuscaTopoZ {padding:15px 0 0 115px; width:255px; text-align:left}
.BuscaTopoZ .InputTextoZ  { width:260px;float:left;background:none; border:0;padding:5px 3px 5px 3px; margin-right:5px}
.BuscaTopoZ .BotaoZ { cursor: pointer; width:60px; background:none; border:0; float: right; height:32px; margin-left: 270px; margin-top: -25px;}

.ClienteLogado { padding:15px 15px 15px 45px; font-size:12px;} 
.ClienteLogado a { color:#333}



.Departamentos { 	 background-image:url(../bg-menu.gif); line-height:40px; height:53px;text-align:center;text-align:center;}
.Departamentos * { }
.Departamentos div { display:inline; padding:8px 28px 8px 28px;}

.Departamentos ul
{
  width:1085px;margin:0 auto;
}

#login a{
  color:#fff;
}

#login a:hover{
  text-decoration:none;
}

.Departamentos a {   border-right: 1px solid #8F8E8E;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    top: 5px;
	transition:1s all;
	-moz-transition:1s all;
	-webkit-transition:1s all;
 }
 
 /*==================================*/
 
 #menu_nav li {
    display: inline;
    float: left;
    position: relative;
	padding: 8px 28px;
  
}

#menu_nav ul li:first-child {
 
    position: relative; 
}

#menu_nav ul li {
    transition: all 1s ease 0s;
}
#menu_nav ul li:hover {
     color:#058682;
}

#menu_nav ul li a {
    clear: both;
    display: block;
	text-decoration: none;
}


#menu_nav li {
    display: inline;
    float: left;
  
    padding: 5px 0 4px 3px;
    position: relative;
}
ul.nav li ul li {
    clear: both;
    float: none;
}

/*================*/

ul.nav li:hover ul, ul.nav li.hover ul {
    display: block;
}
ul.nav li ul li a {
    clear: both;
}

ul.nav li ul li a {
    
    float: none;
    margin-bottom: 3px;
    margin-left: -9px;
    padding-bottom: 3px;
    text-align: left !important;
    width: 230px !important;
	
}
 
 ul.nav li ul li a:hover {
    color: #282828;	
}

ul.nav li {
    float: left !important;
    position: relative !important;
}
ul.nav li a {
    color: #FFFFFF;
    display: block !important;
    float: left;
    text-decoration: none !important;
}

ul.nav li ul {
    display: none;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 10px;
    z-index: 99 !important;
}


ul.nav li ul {
    background: none repeat scroll 0 0 #058682;
    width: 180px !important;
	position: absolute;
    top: 53px;
}

 
 /*==================================*/
 


#desconto img,
#promo img
{
   position: relative;
    right: 36px;
}

#box
{

 box-shadow:0px 0px 10px 0px #D7D7D7;
 -webkit-box-shadow:0px 0px 10px 0px #D7D7D7;
  -moz-box-shadow:0px 0px 10px 0px #D7D7D7;
 clear:both;
 width: 1276px;
}

/***********************/


/* login header */
.HeaderLogin .Save { background-image:url(../img/LoginHeaderSave.gif); background-position:right top; color:#FFF; width:314px;height:23px; float:right; text-align:right; padding-right:55px; padding-top:5px; font-size:13px; font-weight:bold; }





.LoginUser { color:#FFF}
.LoginUser p { padding:22px 0}
.LoginUser a, .LoginUser,  .LoginUser u  { color:#1d1d1e;  font-size:12px;color:#FFF; text-decoration:none}


.BuscaTop { background-image:url(../img/Busca.jpg); height:33px; text-align:center}
.BuscaTop form { background-image:url(../img/CampoBusca.jpg); height:33px; padding-top:4px; text-align:left; width:454px;}
.BuscaTop form #search_query { margin-left:145px; width:255px; background:none; border:0;}
.BuscaTop form .BotaoBusca { background:none; border:0; cursor:pointer; margin-left:6px; width:33px }






/*===================*/
/*=== Main Styles ===*/
/*===================*/


.slider-wrapper { 
	width: 80%; 
	margin: 0px auto;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}