


.TabelaTopo { width:970px; } 


.Telefone { padding:6px; color:#666}



.sthoverbuttonsMain

{

   display:none;

}



.Telefone { float:left; color:#ccc}

.BotaoTopoMinhaConta div { float:right; padding:20px; width:120px;}

.BotaoTopoCarrinho div { float:right; padding:20px; width:130px;}



.BarH { height:60px; width:970px; text-align:left}

.LoginTopo { padding:15px 0 0 155px}

.LoginTopo .InputTopo { border:0; padding:5px 3px 5px 3px; background:0; margin:0}

.LoginTopo .User { width:160px; margin-right:25px}

.LoginTopo .Senha { width:90px; margin-right:13px}

.LoginTopo .Botao {width:60px; height:32px; cursor:pointer; padding:10px }


.BuscaTopoZ {padding:15px 0 0 115px; width:255px; text-align:left}

.BuscaTopoZ .InputTextoZ  { width:260px;float:left;background:none; border:0;padding:5px 3px 5px 3px; margin-right:5px}

.BuscaTopoZ .BotaoZ { cursor: pointer; width:60px; background:none; border:0; float: right; height:32px; margin-left: 270px; margin-top: -25px;}



.ClienteLogado { padding:15px 15px 15px 45px; font-size:12px;} 

.ClienteLogado a { color:#333}







.Departamentos { 	line-height:40px; height:53px;text-align:center;text-align:center;background: #000000}

.Departamentos * { }

.Departamentos div { display:inline; padding:8px 28px 8px 28px;}



.Departamentos ul

{

  width:990px;
  margin:0 auto;

}



#login a{

  color:#fff;

}



#login a:hover{

  text-decoration:none;

}

#banner
{
   
    clear: both;
    float: right;
    width: 700px;
}


.Departamentos a {  

    color: #FFFFFF;

    float: left;

    font-size: 12px;

    font-weight: bold;

    padding: 0 30px;

    position: relative;

    text-decoration: none;

    text-transform: uppercase;

    top: 5px;

	transition:1s all;

	-moz-transition:1s all;

	-webkit-transition:1s all;

 }

 

 /*==================================*/

 

 #menu_nav li {

    display: inline;

    float: left;

    position: relative;

	padding: 8px 28px;

  

}



#menu_nav ul li:first-child {

 

    position: relative; 

}



#menu_nav ul li {

    transition: all 1s ease 0s;

}

#menu_nav ul li:hover {

     color:#058682;

}



#menu_nav ul li a {

    clear: both;

    display: block;

	text-decoration: none;

}


#desconto img,

#promo img

{

   position: relative;

    right: 36px;

}



#box

{



 box-shadow:0px 0px 10px 0px #D7D7D7;

 -webkit-box-shadow:0px 0px 10px 0px #D7D7D7;

  -moz-box-shadow:0px 0px 10px 0px #D7D7D7;

 clear:both;


}



/***********************/





/* login header */

.HeaderLogin .Save { background-image:url(../img/LoginHeaderSave.gif); background-position:right top; color:#FFF; width:314px;height:23px; float:right; text-align:right; padding-right:55px; padding-top:5px; font-size:13px; font-weight:bold; }











.LoginUser { color:#FFF}

.LoginUser p { padding:22px 0}

.LoginUser a, .LoginUser,  .LoginUser u  { color:#1d1d1e;  font-size:12px;color:#FFF; text-decoration:none}





.BuscaTop { background-image:url(../img/Busca.jpg); height:33px; text-align:center}

.BuscaTop form { background-image:url(../img/CampoBusca.jpg); height:33px; padding-top:4px; text-align:left; width:454px;}

.BuscaTop form #search_query { margin-left:145px; width:255px; background:none; border:0;}

.BuscaTop form .BotaoBusca { background:none; border:0; cursor:pointer; margin-left:6px; width:33px }













/*===================*/

/*=== Main Styles ===*/

/*===================*/





.slider-wrapper { 

	width: 80%; 

	margin: 0px auto;

}



/*====================*/

/*=== Other Styles ===*/

/*====================*/

.clear {

	clear:both;

}

/*
@autor : Desenvolvido  por Michel Damasceno <michel-damasceno@hotmail.com>
@empresa : dubai
*/
li
{
    list-style: none;
}

.Header 
{  
    background:#262626;
    background-position:center top;
    height:150px
}


/*TopMenu*/

.TopMenu li 
{ 
    border-right: 1px solid #A59E50;
    display: inline;
    margin-left: 7px;
    text-transform: uppercase;
}

.TopMenu li:last-child
{ 
    border-right: none;
}



.TopMenu a 
{
    font-size:11px; 
    color:#A59E50; 
    padding-right:7px;
    text-decoration:none;
    transition:1s all;
    -webkit-transition:1s all;
    -moz-transition:1s all;
}

.TopMenu a:hover
{
    color: #fff;
}

.TopMenu {  

    background:#0C0A0F;
    padding: 10px;
    float: right !important;
}


/*NAV menu*/

.nav-menu
{
    width: 180px;
    float: left;
    margin-top: 45px;
    margin-right: 22px;
}

.nav-menu:last-child
{
   margin-left: 22px  !important;  
}

.nav-menu li
{
    display: inline;
}

.nav-menu li a  
{
    float: :left;
    color:#fff;
    text-decoration: none;
    padding-right: 22px;
    transition:1s all;
    -webkit-transition:1s all;
    -moz-transition:1s all;

}

.nav-menu li a:hover
{
    color: #a59e50;
} 


.sidebar
{
    width: 200px;
    background: #181818;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;  
    padding: 10px;
}

.sidebar h1
{
    color:#fff;
    text-align: center;
    text-transform: uppercase;;
    font-size: 20px;
    margin:15px 0px 15px 0px;

}

.sidebar
{
      float: left;
      text-align: left !important;
      margin-bottom:30px;
      position: relative;
      top: -90px;
}

.sidebar ul li a 
{
    background: #454545;
    padding: 5px 0px 5px 10px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #fff;
    float: left;
     transition:1s all;
    -webkit-transition:1s all;
    -moz-transition:1s all;
    width: 95%;
    font-size:14px;
    text-transform: uppercase;

}

.sidebar ul li a:hover
{
    background: #a59e50;

}

.nav-menu li a:last-child
{
    margin-right: 0px !important;
}

/*Logo*/

.Logo
{
    float:left !important;
}

/*Container*/
.container
{
    width: 775px;
    margin: 0 auto;
    clear: both;
}

.cesta
{
    float: right;
    position: relative;
    top: -50px;
    width: 150px;
}

.bottom-top
{
   height: 40px;
   background: #513327;
   clear: both;
}

.bottom-top ul
{
    margin-left: 40px;
}

.bottom-top li
{
    display: inline;
    margin-right: 20px;
    float: left;
}

.bottom-top img
{
    float: left;
    margin-right: 20px;
}

.bottom-top span
{
    float: left;
    font-size: 17px;
    position: relative;
    top: 10px;
}

.bottom-top ul
{
    color:#fff;
    text-transform: uppercase;
}

.bottom-top p
{
    clear: both;
}

.footer
{
    margin-top: 30px;
    color:#000;
    margin: 0 auto;
    width: 990px;
    margin-top: 30px;
}

.copyright
{
    top: 30px;
    position: relative;
}